################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TaskManager/v17/.suo
/.vs/TaskManager/DesignTimeBuild/.dtbcache.v2
/.vs/TaskManager/FileContentIndex/ff4a3748-b1c5-4d7c-af1f-4419542fa67e.vsidx
/.vs/TaskManager/FileContentIndex/9c801fa2-c7f5-48da-ba6b-9271860c5225.vsidx
/.vs/TaskManager/FileContentIndex/ed690fb9-9503-4f46-b044-b184f7884899.vsidx
/.vs/TaskManager/FileContentIndex/05abbfb3-be6f-4c3e-bcfe-e8442514737a.vsidx
/.vs/TaskManager/v17/.futdcache.v2
/Application/obj/project.nuget.cache
/Application/obj/project.assets.json
/Application/obj/Debug/net6.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/Application/obj/Application.csproj.nuget.g.props
/Application/obj/Application.csproj.nuget.dgspec.json
/Domain/obj/project.nuget.cache
/Domain/obj/project.assets.json
/Domain/obj/Domain.csproj.nuget.g.props
/Domain/obj/Domain.csproj.nuget.dgspec.json
/Domain/obj/Debug/net6.0/Domain.assets.cache
/Infrastructure/obj/project.nuget.cache
/Infrastructure/obj/project.assets.json
/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
/OiPub.API/obj/TaskManager.API.csproj.nuget.g.props
/OiPub.API/obj/TaskManager.API.csproj.nuget.dgspec.json
/OiPub.API/obj/project.nuget.cache
/OiPub.API/obj/project.assets.json
/OiPub.API/obj/Debug/net6.0/TaskManager.API.assets.cache
/Shared/obj/Shared.csproj.nuget.g.props
/Shared/obj/Shared.csproj.nuget.dgspec.json
/Shared/obj/project.nuget.cache
/Shared/obj/project.assets.json
/Shared/obj/Debug/net6.0/Shared.assets.cache
/TaskManager.MVC/obj/TaskManager..Presentation.Web.csproj.nuget.g.props
/TaskManager.MVC/obj/TaskManager..Presentation.Web.csproj.nuget.dgspec.json
/TaskManager.MVC/obj/project.nuget.cache
/TaskManager.MVC/obj/project.assets.json
/TaskManager.MVC/obj/Debug/net6.0/TaskManager..Presentation.Web.assets.cache
/TaskManager.Presentation.Web.Infrastructure/obj/TaskManager.Presentation.Web.Infrastructure.csproj.nuget.g.props
/TaskManager.Presentation.Web.Infrastructure/obj/TaskManager.Presentation.Web.Infrastructure.csproj.nuget.dgspec.json
/TaskManager.Presentation.Web.Infrastructure/obj/project.nuget.cache
/TaskManager.Presentation.Web.Infrastructure/obj/project.assets.json
/TaskManager.Presentation.Web.Infrastructure/obj/Debug/net6.0/TaskManager.Presentation.Web.Infrastructure.assets.cache
/Application/obj/Debug/net6.0/Application.csproj.AssemblyReference.cache
/Application/obj/Debug/net6.0/Application.assets.cache
/Domain/bin/Debug/net6.0/Domain.pdb
/Domain/bin/Debug/net6.0/Domain.dll
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
/Domain/obj/Debug/net6.0/Domain.pdb
/Domain/obj/Debug/net6.0/Domain.dll
/Domain/obj/Debug/net6.0/Domain.csproj.FileListAbsolute.txt
/OiPub.API/obj/Debug/net6.0/TaskManager.API.csproj.AssemblyReference.cache
/.vs/TaskManager/FileContentIndex/cefd70b7-8d67-4b44-acb6-a883b76b2da8.vsidx
/.vs/TaskManager/FileContentIndex/b0784467-6c27-4a37-9c69-e1ac4485c56a.vsidx
/.vs/TaskManager/FileContentIndex/05abbfb3-be6f-4c3e-bcfe-e8442514737a.vsidx
*.cache
*.vsidx
/Shared/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Application/bin/Debug/net6.0/Domain.pdb
/Application/bin/Debug/net6.0/Domain.dll
/Application/bin/Debug/net6.0/Application.pdb
/Application/bin/Debug/net6.0/Application.dll
/Application/obj/Debug/net6.0/Application.pdb
/Application/obj/Debug/net6.0/Application.dll
/Application/obj/Debug/net6.0/Application.csproj.FileListAbsolute.txt
/Application/obj/Debug/net6.0/Application.csproj.CoreCompileInputs.cache
/Infrastructure/obj/Debug/net6.0/Infrastructure.pdb
/Infrastructure/obj/Debug/net6.0/Infrastructure.dll
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.FileListAbsolute.txt
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.CoreCompileInputs.cache
/Infrastructure/bin/Debug/net6.0/Infrastructure.pdb
/Infrastructure/bin/Debug/net6.0/Infrastructure.dll
/Infrastructure/bin/Debug/net6.0/Domain.pdb
/Infrastructure/bin/Debug/net6.0/Domain.dll
/Infrastructure/bin/Debug/net6.0/Application.pdb
/Infrastructure/bin/Debug/net6.0/Application.dll
/OiPub.API/bin/Debug/net6.0/TaskManager.API.pdb
/OiPub.API/bin/Debug/net6.0/TaskManager.API.dll
/OiPub.API/bin/Debug/net6.0/Infrastructure.pdb
/OiPub.API/bin/Debug/net6.0/Infrastructure.dll
/OiPub.API/bin/Debug/net6.0/Domain.pdb
/OiPub.API/bin/Debug/net6.0/Domain.dll
/OiPub.API/bin/Debug/net6.0/Application.pdb
/OiPub.API/bin/Debug/net6.0/Application.dll
/OiPub.API/obj/Debug/net6.0/TaskManager.API.pdb
/OiPub.API/obj/Debug/net6.0/TaskManager.API.genruntimeconfig.cache
/OiPub.API/obj/Debug/net6.0/TaskManager.API.dll
/OiPub.API/obj/Debug/net6.0/TaskManager.API.csproj.FileListAbsolute.txt
/OiPub.API/obj/Debug/net6.0/TaskManager.API.csproj.CoreCompileInputs.cache
/Shared/bin/Debug/net6.0/Shared.pdb
/Shared/bin/Debug/net6.0/Shared.dll
/TaskManager.MVC/bin/Debug/net6.0/TaskManager.Presentation.Web.staticwebassets.runtime.json
/TaskManager.MVC/bin/Debug/net6.0/TaskManager.Presentation.Web.runtimeconfig.json
/TaskManager.MVC/bin/Debug/net6.0/TaskManager.Presentation.Web.pdb
/TaskManager.MVC/bin/Debug/net6.0/TaskManager.Presentation.Web.Infrastructure.pdb
/TaskManager.MVC/bin/Debug/net6.0/TaskManager.Presentation.Web.Infrastructure.dll
/TaskManager.MVC/bin/Debug/net6.0/TaskManager.Presentation.Web.exe
/TaskManager.MVC/bin/Debug/net6.0/TaskManager.Presentation.Web.dll
/TaskManager.MVC/bin/Debug/net6.0/TaskManager.Presentation.Web.deps.json
/TaskManager.MVC/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/TaskManager.MVC/bin/Debug/net6.0/Shared.pdb
/TaskManager.MVC/bin/Debug/net6.0/Shared.dll
/TaskManager.MVC/bin/Debug/net6.0/Serilog.Sinks.File.dll
/TaskManager.MVC/bin/Debug/net6.0/Serilog.Sinks.Debug.dll
/TaskManager.MVC/bin/Debug/net6.0/Serilog.Sinks.Console.dll
/TaskManager.MVC/bin/Debug/net6.0/Serilog.Settings.Configuration.dll
/TaskManager.MVC/bin/Debug/net6.0/Serilog.Formatting.Compact.dll
/TaskManager.MVC/bin/Debug/net6.0/Serilog.Extensions.Logging.dll
/TaskManager.MVC/bin/Debug/net6.0/Serilog.Extensions.Hosting.dll
/TaskManager.MVC/bin/Debug/net6.0/Serilog.dll
/TaskManager.MVC/bin/Debug/net6.0/Serilog.AspNetCore.dll
/TaskManager.MVC/bin/Debug/net6.0/Newtonsoft.Json.dll
/TaskManager.MVC/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/TaskManager.MVC/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/TaskManager.MVC/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/TaskManager.MVC/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
/TaskManager.MVC/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
/TaskManager.MVC/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
/TaskManager.MVC/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
/TaskManager.MVC/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
/TaskManager.MVC/bin/Debug/net6.0/Microsoft.Extensions.Http.dll
/TaskManager.MVC/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
/TaskManager.MVC/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
/TaskManager.MVC/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/TaskManager.MVC/bin/Debug/net6.0/AutoMapper.dll
/Shared/obj/Debug/net6.0/ref/Shared.dll
/Shared/obj/Debug/net6.0/refint/Shared.dll
/Shared/obj/Debug/net6.0/Shared.pdb
/Shared/obj/Debug/net6.0/Shared.dll
/Shared/obj/Debug/net6.0/Shared.csproj.FileListAbsolute.txt
/TaskManager.MVC/obj/Debug/net6.0/scopedcss/bundle/TaskManager.Presentation.Web.styles.css
/TaskManager.MVC/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/TaskManager.MVC/obj/Debug/net6.0/scopedcss/projectbundle/TaskManager.Presentation.Web.bundle.scp.css
/TaskManager.MVC/obj/Debug/net6.0/ref/TaskManager.Presentation.Web.dll
/TaskManager.MVC/obj/Debug/net6.0/refint/TaskManager.Presentation.Web.dll
/TaskManager.MVC/obj/Debug/net6.0/staticwebassets/msbuild.TaskManager.Presentation.Web.Microsoft.AspNetCore.StaticWebAssets.props
/TaskManager.MVC/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.TaskManager.Presentation.Web.props
/TaskManager.MVC/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.TaskManager.Presentation.Web.props
/TaskManager.MVC/obj/Debug/net6.0/staticwebassets/msbuild.build.TaskManager.Presentation.Web.props
/TaskManager.MVC/obj/Debug/net6.0/TaskManager.Presentation.Web.RazorAssemblyInfo.cs
/TaskManager.MVC/obj/Debug/net6.0/TaskManager.Presentation.Web.pdb
/TaskManager.MVC/obj/Debug/net6.0/TaskManager.Presentation.Web.GlobalUsings.g.cs
/TaskManager.MVC/obj/Debug/net6.0/TaskManager.Presentation.Web.GeneratedMSBuildEditorConfig.editorconfig
/TaskManager.MVC/obj/Debug/net6.0/TaskManager.Presentation.Web.dll
/TaskManager.MVC/obj/Debug/net6.0/TaskManager.Presentation.Web.csproj.FileListAbsolute.txt
/TaskManager.MVC/obj/Debug/net6.0/TaskManager.Presentation.Web.csproj.CopyComplete
/TaskManager.MVC/obj/Debug/net6.0/TaskManager.Presentation.Web.AssemblyInfo.cs
/TaskManager.MVC/obj/Debug/net6.0/staticwebassets.pack.json
/TaskManager.MVC/obj/Debug/net6.0/staticwebassets.development.json
/TaskManager.MVC/obj/Debug/net6.0/staticwebassets.build.json
/TaskManager.MVC/obj/Debug/net6.0/apphost.exe
/TaskManager.MVC/obj/TaskManager.Presentation.Web.csproj.nuget.g.targets
/TaskManager.MVC/obj/TaskManager.Presentation.Web.csproj.nuget.g.props
/TaskManager.MVC/obj/TaskManager.Presentation.Web.csproj.nuget.dgspec.json
/TaskManager.Presentation.Web.Infrastructure/bin/Debug/net6.0/TaskManager.Presentation.Web.Infrastructure.pdb
/TaskManager.Presentation.Web.Infrastructure/bin/Debug/net6.0/TaskManager.Presentation.Web.Infrastructure.dll
/TaskManager.Presentation.Web.Infrastructure/bin/Debug/net6.0/TaskManager.Presentation.Web.Infrastructure.deps.json
/TaskManager.Presentation.Web.Infrastructure/bin/Debug/net6.0/Shared.pdb
/TaskManager.Presentation.Web.Infrastructure/bin/Debug/net6.0/Shared.dll
/TaskManager.Presentation.Web.Infrastructure/obj/Debug/net6.0/ref/TaskManager.Presentation.Web.Infrastructure.dll
/TaskManager.Presentation.Web.Infrastructure/obj/TaskManager.Presentation.Web.Infrastructure.csproj.nuget.g.targets
/TaskManager.Presentation.Web.Infrastructure/obj/Debug/net6.0/TaskManager.Presentation.Web.Infrastructure.pdb
/TaskManager.Presentation.Web.Infrastructure/obj/Debug/net6.0/TaskManager.Presentation.Web.Infrastructure.dll
/TaskManager.Presentation.Web.Infrastructure/obj/Debug/net6.0/TaskManager.Presentation.Web.Infrastructure.csproj.FileListAbsolute.txt
/TaskManager.Presentation.Web.Infrastructure/obj/Debug/net6.0/TaskManager.Presentation.Web.Infrastructure.csproj.CopyComplete
/TaskManager.Presentation.Web.Infrastructure/obj/Debug/net6.0/TaskManager.Presentation.Web.Infrastructure.csproj.AssemblyReference.cache
/TaskManager.Presentation.Web.Infrastructure/obj/Debug/net6.0/refint/TaskManager.Presentation.Web.Infrastructure.dll
/.vs/ProjectEvaluation/taskmanager.metadata.v5.2
/.vs/ProjectEvaluation/taskmanager.projects.v5.2
/.vs/TaskManager/v17/.futdcache.v2
