################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TaskManager/v17/.suo
/.vs/TaskManager/DesignTimeBuild/.dtbcache.v2
/.vs/TaskManager/FileContentIndex/ff4a3748-b1c5-4d7c-af1f-4419542fa67e.vsidx
/.vs/TaskManager/FileContentIndex/9c801fa2-c7f5-48da-ba6b-9271860c5225.vsidx
/.vs/TaskManager/FileContentIndex/ed690fb9-9503-4f46-b044-b184f7884899.vsidx
/.vs/TaskManager/FileContentIndex/05abbfb3-be6f-4c3e-bcfe-e8442514737a.vsidx
/.vs/TaskManager/v17/.futdcache.v2
/Application/obj/project.nuget.cache
/Application/obj/project.assets.json
/Application/obj/Debug/net6.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/Application/obj/Application.csproj.nuget.g.props
/Application/obj/Application.csproj.nuget.dgspec.json
/Domain/obj/project.nuget.cache
/Domain/obj/project.assets.json
/Domain/obj/Domain.csproj.nuget.g.props
/Domain/obj/Domain.csproj.nuget.dgspec.json
/Domain/obj/Debug/net6.0/Domain.assets.cache
/Infrastructure/obj/project.nuget.cache
/Infrastructure/obj/project.assets.json
/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
/OiPub.API/obj/TaskManager.API.csproj.nuget.g.props
/OiPub.API/obj/TaskManager.API.csproj.nuget.dgspec.json
/OiPub.API/obj/project.nuget.cache
/OiPub.API/obj/project.assets.json
/OiPub.API/obj/Debug/net6.0/TaskManager.API.assets.cache
/Shared/obj/Shared.csproj.nuget.g.props
/Shared/obj/Shared.csproj.nuget.dgspec.json
/Shared/obj/project.nuget.cache
/Shared/obj/project.assets.json
/Shared/obj/Debug/net6.0/Shared.assets.cache
/TaskManager.MVC/obj/TaskManager..Presentation.Web.csproj.nuget.g.props
/TaskManager.MVC/obj/TaskManager..Presentation.Web.csproj.nuget.dgspec.json
/TaskManager.MVC/obj/project.nuget.cache
/TaskManager.MVC/obj/project.assets.json
/TaskManager.MVC/obj/Debug/net6.0/TaskManager..Presentation.Web.assets.cache
/TaskManager.Presentation.Web.Infrastructure/obj/TaskManager.Presentation.Web.Infrastructure.csproj.nuget.g.props
/TaskManager.Presentation.Web.Infrastructure/obj/TaskManager.Presentation.Web.Infrastructure.csproj.nuget.dgspec.json
/TaskManager.Presentation.Web.Infrastructure/obj/project.nuget.cache
/TaskManager.Presentation.Web.Infrastructure/obj/project.assets.json
/TaskManager.Presentation.Web.Infrastructure/obj/Debug/net6.0/TaskManager.Presentation.Web.Infrastructure.assets.cache
/Application/obj/Debug/net6.0/Application.csproj.AssemblyReference.cache
/Application/obj/Debug/net6.0/Application.assets.cache
/Domain/bin/Debug/net6.0/Domain.pdb
/Domain/bin/Debug/net6.0/Domain.dll
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
/Domain/obj/Debug/net6.0/Domain.pdb
/Domain/obj/Debug/net6.0/Domain.dll
/Domain/obj/Debug/net6.0/Domain.csproj.FileListAbsolute.txt
/OiPub.API/obj/Debug/net6.0/TaskManager.API.csproj.AssemblyReference.cache
