@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-md-3 mt-5 ">
        <div class="account-wall text-center py-5 mt-5">
            <h1>OOPs!</h1>
            <p class="mb-4">Something went wrong.</p>
            <p class="mb-3">
                Go Back to
                <a asp-area="Consumer" asp-controller="Home" asp-action="Index" class="text-center new-account">Go Home</a>
            </p>
        </div>
    </div>
</div>