@model TaskManager.Presentation.Web.Infrastructure.Requests.Identity.Account.ResetPasswordRequest

@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
    ViewData["Title"] = "Reset Password";

}

<div class="row">
    <div class="col-md-6 offset-md-3 mt-5 ">
        <div class="account-wall text-center py-5 mt-5">

            <a asp-area="Consumer" asp-controller="Home" asp-action="Index">
                <img class="profile-img" src="~/img/giftlocal.png" alt="GiftLocal">
            </a>

            <h1>Reset Your Password</h1>

            <p class="mb-4">Use data that you entered during your registration.</p>
            <form asp-action="ResetPassword" class="form-signin">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="custom-inputs form-group">
                    <input asp-for="Email" class="form-control mb-4" placeholder="@Html.DisplayNameFor(x=>x.Email)" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="custom-inputs form-group">
                    <input asp-for="Password" class="form-control mb-4" placeholder="@Html.DisplayNameFor(x=>x.Password)" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="custom-inputs form-group">
                    <input asp-for="ConfirmPassword" class="form-control mb-4" placeholder="@Html.DisplayNameFor(x=>x.ConfirmPassword)" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="custom-inputs form-group">
                    <input asp-for="Token" type="hidden" class="form-control mb-4" placeholder="@Html.DisplayNameFor(x=>x.Token)" />
                    <span asp-validation-for="Token" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Reset Password" class="btn btn-lg  btn-block mb-3" />
                </div>


                <p class="mb-3">
                    Go Back to
                    <a asp-area="Identity" asp-controller="Account" asp-action="ForgotPassword" class="text-center new-account">
                        Forgot Password?
                    </a>
                </p>

            </form>
        </div>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
